:root {
  --color-one: #f1f3e8; /*main background and also logo header color */
  --color-two: #736f36; /* main text color */
  --color-three: #0109d7; /* on input focus */
  --color-valid: green;
  --color-invalid: red;

  --logo-container-height: 200px;
}

@font-face {
  font-family: "Norse Bold";
  src: url("/fonts/norse-bold-webfont.woff") format("woff"),
    url("/fonts/norse-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

/* form cointainer includes both - image container and form with its control */

#form-container {
  min-height: 1000px;
  padding-bottom: 40px;
  width: min(100vw, 1400px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-container::before {
  content: "Photo by Martino Pietropoli on Unsplash";
  font-size: 0.6rem;
  font-weight: 600;
  position: absolute;
  color: var(--color-one);
  bottom: 4px;
  left: 6px;
}

.form-text {
  font-size: 1.5rem;
  padding: 35px;
  font-weight: 600;
}

/* Image and logo container */

.logo {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 15px;
  padding: 5px 0 5px 20px;
  position: relative;
  background-color: var(--color-two);
  opacity: 0.9;
}

.logo > h1 {
  font-family: "Norse Bold", "Times New Roman", Times, serif;
  font-size: calc(3rem + 5vw);
  padding-top: 15px;
  color: var(--color-one);
}

.logo > img {
  height: calc(80px + 5vw);
}

/* form control container */

.form-control-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs-container {
  border: none;
  margin-top: 50px;
}

.lets-do-this {
  padding-left: 20px;
  font-size: calc(1rem + 1vw);
  margin-bottom: 35px;
  position: relative;
}

.lets-do-this::after {
  content: "* Required field";
  position: absolute;
  font-size: calc(0.7rem + 0.1vw);
  top: calc(25px + 1vw);
  left: 20px;
}

ul {
  list-style: none;
}

ul > li {
  padding: 10px 20px;
}

ul > li > input {
  width: 250px;
  display: block;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-one);
  opacity: 0.7;
  outline: 1px solid var(--color-two);
}

ul > li > input:focus {
  outline: 3px solid var(--color-three);
}

/* doesnt show invalid input while user still focusig on input and empty placeholder not removed */

ul > li > input:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid var(--color-invalid);
}

ul > li > input:not(:focus):not(:placeholder-shown):valid {
  outline: 2px solid var(--color-valid);
}

ul > li > label {
  font-weight: 900;
}

ul > li > label > span {
  position: relative;
  bottom: 4px;
}

.button {
  background-color: var(--color-one);
  padding: 5px;
  outline: 1px solid var(--color-two);
  border: none;
  border-radius: 4px;
  opacity: 0.9;
  font-weight: 600;
  margin: 20px 40px;
  width: 250px;
}

.button:hover {
  background-color: #e4e7d9;
}

.button:active {
  transform: translate(1px, -1px);
}

.have-account {
  font-weight: 600;
  margin: 40px;
  margin-top: 0;
}

.have-account > a {
  text-decoration: none;
  color: var(--color-two);
  font-weight: 900;
}

/* Media queries */

@media screen and (max-width: 900px) {
  #form-container::before {
    content: "";
    background-image: url("images/martino-pietropoli-5jz3T5LwuPA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .form-text {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #form-container {
    flex-direction: row;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .form-control-container > form {
    align-items: flex-start;
  }

  .logo-container {
    flex: 1;
    position: relative;
  }

  .logo-container::after {
    content: "";
    background-image: url("images/martino-pietropoli-5jz3T5LwuPA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .logo {
    margin-top: 35%;
    justify-content: center;
    opacity: 0.3;
  }

  .form-control-container {
    flex: 1;
    background-color: var(--color-one);
  }

  .lets-do-this {
    width: 290px;
  }

  .form-inputs-container {
    background-color: #f8f8f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 5px 15px var(--color-two);
  }

  .form-inputs-container > ul {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
  }
}
