:root {
  --color-one: #f1f3e8;
  --color-two: #736f36;
  --color-three: #d9c49c;

  --logo-container-height: 100px;
}

@font-face {
  font-family: "Norse Bold";
  src: url("/fonts/norse-bold-webfont.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#form-container {
  height: 100vh;
  width: min(100vw, 1400px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--color-two);
}

/* Image and logo container */

.logo-container {
  height: calc(var(--logo-container-height) + 5vw);
}

.logo {
  display: flex;
  justify-content: start;
  text-align: center;
  margin-top: 15px;
  padding-left: 20px;
}

.logo > h1 {
  font-family: "Norse Bold";
  font-size: calc(3rem + 5vw);
  padding-top: 15px;
  color: var(--color-one);
}

.logo > img {
  height: calc(80px + 5vw);
}

/* form control container */

.form-control-container {
  height: calc(100% - var(--logo-container-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}

ul > li {
  padding: 10px 20px;
}

ul > li > label {
  display: block;
}
ul > li > input {
  width: 250px;
}

ul > li > input:required {
  position: relative;
}

ul > li > input:required + span::after {
  content: "*";
  position: absolute;
}
